@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* **General** */
    --background: 30 55% 97%;
    --background-secondary: 0 0% 100%;
    --fixed-background-dark: 169 28% 26%;
    --fixed-background-light: 0 0% 100%;

    /* **Actions** */
    --action-background: 169 28% 26%; /* #30554E */
    --action-background-hover: 168 30% 31%; /*hsl(168 30.40% 31.60%) */
    --action-background-disabled: 162 8% 78%; /* #B7D8CE */
    --action-foreground: 19 100% 96%; /* #FFF2EC */
    --action-foreground-hover: 19 100% 96%; /* #FFFFFF */
    --action-foreground-disabled: 169 28% 26%; /* #FFFFFF */

    --fixed-action-background-light: 0 0% 100%; /* #FFFFFF */
    --fixed-action-background-light-hover: 0 0% 90%; /* #d0d5dd */
    --fixed-action-background-light-disabled: 0 0% 100%; /* #FFFFFF */
    --fixed-action-foreground-light: 167 51% 7%; /* ##091C18 */
    --fixed-action-foreground-light-disabled: 216 3% 84%; /* #d0d5dd */

    --fixed-action-background-alert: 352 77% 54%; /* #E42E47 */
    --fixed-action-background-alert-hover: 4 6% 94%; /* #FEE4E2 */
    --fixed-action-foreground-alert: 0 0% 100%; /* #FFFFFF */

    /* **Cards** */
    --card: 0 0% 100%; /* Fond des cartes : blanc */
    --card-foreground: 0 0% 26%; /* Texte principal : #434343 */

    /* **TEXT & ICONS***  */
    --text-primary: 167 51% 7% 1; /* #091C18 */
    --text-secondary: 216 18% 34%; /* #475467*/
    --fixed-text-light: 0 0% 100%; /* #FFFFFF */
    --fixed-text-light-secondary: 19 100% 96%; /*#fff2ec */
    --fixed-text-dark-primary: 167 51% 7%; /* #091C18 */
    --fixed-text-dark-secondary: 216 19% 34%; /* #475467 */
    --text-brand: 162 27% 26%; /* #30554E */
    --fixed-text-error: 4 77% 40%; /* #B42318 */

    /* **STROKE**  */
    --border: 214.3 31.8% 91.4%; /* Bordures : gris clair (#E0E0E0) */
    --border-error: 352 77% 54%; /* #E42E47 */
    --border-dark: 132 28% 26%; /* #30554E */

    /* TODO SUPPRESS UNSUED COLORS */
    --foreground: 0 0% 26%; /* Texte principal : #434343 */

    --popover: 0 0% 100%; /* Popover : blanc */
    --popover-foreground: 0 0% 26%; /* Texte principal : #434343 */

    --primary: 162 27% 26%; /* Couleur principale : #30554E (vert foncé) */
    --primary-foreground: 0 0% 100%; /* Texte en avant sur fond vert : blanc */

    --secondary: 214 15% 91%; /* Couleur secondaire : gris clair pour bordures (#E0E0E0) */
    --secondary-foreground: 0 0% 26%; /* Texte principal : #434343 */

    --muted: 30 50% 96%; /* Couleur atténuée : #F2EDEB  */
    --muted-foreground: 30 100% 97%; /* Texte atténué : #FEF9F6 */

    --accent: 348 76% 55%; /* Accent : Rouge #E42E47 */
    --accent-foreground: 0 0% 100%; /* Texte sur fond accent : blanc */

    --destructive: 0 84.2% 60.2%; /* Rouge pour actions destructrices */
    --destructive-foreground: 0 0% 100%; /* Texte sur rouge : blanc */

    --border: 214.3 31.8% 91.4%; /* Bordures : gris clair (#E0E0E0) */
    --input: 214.3 31.8% 91.4%; /* Inputs : gris clair */
    --ring: 162 27% 26%; /* Anneau de focus (vert foncé) */

    --radius: 0.5rem; /* Coins arrondis */

    /************
    /**PRIMARY**/
    /************
    /* Gray Colors */
    --gray-25: #fcfcfd;
    --gray-50: #f9fafb;
    --gray-100: #f2f4f7;
    --gray-200: #e4e7ec;
    --gray-300: #d0d5dd;
    --gray-400: #98a2b3;
    --gray-500: #667085;
    --gray-600: #475467;
    --gray-700: #344054;
    --gray-800: #1d2939;
    --gray-900: #101828;

    /* Brand Colors */
    --brand-25: #f7f9f8;
    --brand-50: #f4f9f7;
    --brand-100: #dbece6;
    --brand-200: #b7d8ce;
    --brand-300: #88bdaf;
    --brand-400: #639e90;
    --brand-500: #498377;
    --brand-600: #38695f;
    --brand-700: #30554e;
    --brand-800: #2a4541;
    --brand-900: #12211f;

    /* Error Colors */
    --error-25: #fffbfa;
    --error-50: #fef3f2;
    --error-100: #fee4e2;
    --error-200: #fecdca;
    --error-300: #fda29b;
    --error-400: #f97066;
    --error-500: #f04438;
    --error-600: #d92d20;
    --error-700: #b42318;
    --error-800: #912018;
    --error-900: #7a271a;

    /* Warning Colors */
    --warning-25: #fffcf5;
    --warning-50: #fffaeb;
    --warning-100: #fef0c7;
    --warning-200: #fedf89;
    --warning-300: #fec84b;
    --warning-400: #fdb022;
    --warning-500: #f79009;
    --warning-600: #dc6803;
    --warning-700: #b54708;
    --warning-800: #93370d;
    --warning-900: #7a2e0e;

    /* Success Colors */
    --success-25: #f6fef9;
    --success-50: #ecfdf3;
    --success-100: #d1fadf;
    --success-200: #a6f4c5;
    --success-300: #6ce9a6;
    --success-400: #32d583;
    --success-500: #12b76a;
    --success-600: #039855;
    --success-700: #027a48;
    --success-800: #05603a;
    --success-900: #054f31;

    /************
    /**Secondary**/
    /************
     /* Red Ribbon Colors */
    --red-ribbon-25: #fcfcfd;
    --red-ribbon-50: #f8f9fc;
    --red-ribbon-100: #fae1e5;
    --red-ribbon-200: #d5d9eb;
    --red-ribbon-300: #afb5d9;
    --red-ribbon-400: #717bbc;
    --red-ribbon-500: #4e5ba6;
    --red-ribbon-600: #3e4784;
    --red-ribbon-700: #363f72;
    --red-ribbon-800: #293056;
    --red-ribbon-900: #101323;

    /* Aztec (Heading Text Color) */
    --aztec-50: #f3faf8;
    --aztec-100: #d5f2e7;
    --aztec-200: #abe4ce;
    --aztec-300: #79cfb1;
    --aztec-400: #4eb394;
    --aztec-500: #34987a;
    --aztec-600: #277a62;
    --aztec-700: #236251;
    --aztec-800: #204f43;
    --aztec-900: #1f4239;
    --aztec-950: #091c18;

    /* Bridesmaid (Cream) */
    --bridesmaid-25: #f5faff;
    --bridesmaid-50: #eff8ff;
    --bridesmaid-100: #d1e9ff;
    --bridesmaid-200: #b2ddff;
    --bridesmaid-300: #84caff;
    --bridesmaid-400: #53b1fd;
    --bridesmaid-500: #2e90fa;
    --bridesmaid-600: #1570ef;
    --bridesmaid-700: #175cd3;
    --bridesmaid-800: #1849a9;
    --bridesmaid-900: #194185;

    /* Gray Gradients */
    --gray-gradient-600-500: linear-gradient(90deg, #475467, #667085);
    --gray-gradient-600-700: linear-gradient(45deg, #475467, #344054);
    --gray-gradient-700-800: linear-gradient(45deg, #344054, #1d2939);
    --gray-gradient-800-900: linear-gradient(90deg, #1d2939, #101828);
    --gray-gradient-800-700: linear-gradient(26.5deg, #1d2939, #344054);
    --gray-gradient-900-600: linear-gradient(45deg, #101828, #475467);
  }
}
.dark {
  /* **General** */
  --background: 167 51% 7%;
  --background-secondary: 169 28% 26%;

  /* **Actions** */
  --action-background: 0 0% 100%;
  --action-background-hover: 0 0% 90%;
  --action-background-disabled: 0 0% 100%;
  --action-foreground: 169 28% 26%;
  --action-foreground-hover: 132 28% 26%;
  --action-foreground-disabled: 216 16% 84%;

  /* **Cards** */
  --card: 132 28% 26%; /* #091C18 */
  --card-foreground: 0 0% 100%; /* #FFFFFF */

  /* **TEXT & ICONS***  */
  --text-primary: 19 100% 96%; /* #091C18 */
  --text-secondary: 0 0% 100%; /* #475467*/
  --text-brand: 19 100% 96% /* #FFF2EC */;

  /* **STROKE**  */
  --border: 214.3 31.8% 91.4%; /* Bordures : gris clair (#E0E0E0) */
  --border-error: 352 77% 54%; /* #E42E47 */
  --border-dark: 132 28% 26%; /* #30554E */
}
@layer base {
  @layer base {
    /* Appliquer la police Montserrat pour tous les paragraphes */
    body {
      font-family: var(--font-montserrat);
      @apply bg-background;
    }

    /* Titres en --font-bontang */
    h1 {
      font-size: 3.125rem; /* 50px */
      line-height: 3.75rem; /* 60px */
      font-family: var(--font-bontang);
      font-weight: bold; /* Gras pour le titre */
    }

    h2 {
      font-size: 2.5rem; /* 40px */
      line-height: 3rem; /* 48px */
      font-family:
        var(--font-bontang), sans-serif; /* Police --font-bontang pour h2 */
      font-weight: bold; /* Gras pour le titre */
    }

    h3 {
      font-size: 2rem; /* 32px */
      line-height: 2.5rem; /* 40px */
      font-family:
        var(--font-bontang), sans-serif; /* Police --font-bontang pour h3 */
      font-weight: bold; /* Gras pour le titre */
    }

    h4 {
      font-size: 1.25rem; /* 20px */
      line-height: 1.5rem; /* 24px */
      font-family:
        var(--font-bontang), sans-serif; /* Police --font-bontang pour h4 */
      font-weight: bold; /* Gras pour le titre */
    }

    @media (max-width: 768px) {
      h1 {
        font-size: 2.5rem; /* 40px */
        line-height: 3rem; /* 48px */
      }

      h2 {
        font-size: 2rem; /* 32px */
        line-height: 2.5rem; /* 40px */
      }

      h3 {
        font-size: 1.5rem; /* 24px */
        line-height: 2rem; /* 32px */
      }

      h4 {
        font-size: 1.125rem; /* 18px */
        line-height: 1.375rem; /* 22px */
      }
    }
  }
}
